body {
	background-color: lightblue;
  font-family: Verdana, Geneva, sans-serif;
}

div{
	
	align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.header {
  padding: 5px;
  text-align: left;
  background: #1abc9c;
  color: white;
  font-size: 15px;
}

li {
  display:inline;
}

h1{
	color: white;
}

.smallrectangle {
 border-radius: 10px;
  background-color: blue;
  height: 150px;
  width:80px;
  border: 2px solid black;
  position: relative;
 align-self: center;
 margin-left: 60px;

}

.smallerrectangle {
  background-color: white;
  border-radius: 10px;
  height: 145px;
  width:75px;
  border: 2px solid white;
  position: relative;
 align-self: bottom;
}

.rectangle {
  height: 400px;
  width: 200px;
  background-color: lightgreen;
  border: 2px solid white;
  
  text-align: center;
  align-content: center;
 	align-items: center;
 }

