body {
	background-color: lightblue;
  font-family: Verdana, Geneva, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.header {
  padding: 5px;
  text-align: left;
  background: #1abc9c;
  color: white;
  font-size: 15px;
}

li {
  display:inline;
}